@import '../../index.scss';

.PanelButton {
  width: 12em;
  height: 1.6em;
}

.ControlPanel {
  border: .2em solid goldenrod;

  h2 {text-decoration: underline;}

  .Controls {
    display: flex;
    flex-direction: column;

    div {padding: 2px;}

    .PaletteControls {

      .PaletteRemove {
        display: flex;
        justify-content: space-around;
        label {width: 10em;}

      }
      .PaletteAdd {

        form {
          display: flex;
          justify-content: space-around;

          input[type="text"] {width: 12em;} //match button widths
          input[type="submit"] {}
        }
      }
    }
    .SwatchControls {
      display: flex;
      justify-content: space-around;
    }
  }
  .Sliders {
    border: .2em solid darkolivegreen;
  }
}
