//.PaletteControls {
//  border: .2em solid green;
//  display: flex;
//  flex-direction: column;
//  padding-top: .3em;
//}
.PaletteRemove {
  display: flex;
  justify-content: space-around;
  padding-bottom: .3em;

  label {width: 48%; text-align: center;}
  button {width: 48%;}
}
.PaletteAdd {
  padding-bottom: .3em;

  form {display: flex; justify-content: space-around;}
  input[type="text"] {width: 48%;}
  input[type="submit"] {width: 48%;}
}
