@mixin swatchSize {
  $size: 125px;
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
  margin: 4px;
}

.Swatch {
  border: 4px solid black;
  @include swatchSize;
}
