@import 'index.scss';

.ColorThemer {
  border: 4px solid darkgreen;
  background-color: #555555;

  height: 100%;
  display: flex;
  flex-direction: column;

  h1,h2,h3,h4,h5 {
    text-align: center;
  }
}
.ControlPanel {
  @include breakpoints-min (600) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
